.container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
    margin: 20px;

}

#headline {
    text-align: center;
    font-weight: 700;
    font-size: 50px;
    height: 10%;
}

#content {
    display: flex;
    text-align: center;
    font-weight: lighter;
    font-size: 30px;
    color: rgba(174, 169, 169, 0.795);
    height: 90%;
}

@keyframes appears {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}

.container{
    animation: appears 2.5s linear;
}