.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  background: rgba(0, 0, 0, 0.7); 
  top: 0;
  width: 100%;
}

.nav-left {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 20px;
}

.nav-right .nav-link {
  color: #cfd8e3;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
  margin-right: 20px;
}

.nav-right .nav-link:hover {
  color: #00bfff; 
}
